
{% extends "layout.html" %}
{% block content %}
 
    <!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
background-image: url('../static/img/Grupo-Puerto-De-Cartagena_1.jpg');
height: 420px;
">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="text-white">
    <h1 class="mb-3">Charla Snag Overload System</h1>
    <h4 class="mb-3">Subsistema electronico y su respuestas</h4>
    <a class="btn btn-outline-light btn-lg m-3" href="/inercia" role="button">Empecemos</a>
  </div>
</div>
</div>
</div>
<!-- Hero -->
{% endblock content %}

