{% extends "layout.html" %}
{% block content %}
<div class="row m-auto">
    <div class="col-md-6">
        <h2>Inercia</h2>
        <p class="fs-5">La inercia es la propiedad que tienen los cuerpos que permanecen en su estado de reposo o
            movimientos. <br>
            Dicho de otra forma es la resistencia que opone la materia a que se modifique su estado de
            movimiento, incluyendo cambios en la velocidad o en la dirección del movimiento.<br>Uncuerpo conserva su estado de reposo o movimiento si no hay una fuerza actuando sobre él, que lo obligue a cambiar su estado de movimiento.<br>
            Un sistema tiene más inercia cuando resulta más difícil lograr cambiar su estado de movimiento.
        </p>
    </div>
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <!-- Reemplaza la URL con el iframe de tu primer video -->
            <iframe class="embed-responsive-item" width="560" height="315" src="../static/vid/inercia.mp4"
                title="inercia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share
                autoplay" allowfullscreen></iframe>
        </div>
    </div>
</div>




{% endblock content %}